{% extends 'base.html.twig' %}

{% block title %}Blue Shop{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">

    {% include('base/nav.html.twig') %}

    <div class="row">
        <img src="{{ asset('banner/BlueShop.png') }}" alt="" >
    </div>
    <div class="row">
        <form class="form-control" method="GET">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Pesquise o produto por nome" aria-label="Pesquise o produto por nome" aria-describedby="basic-addon2" id="busca_produto" name="busca_produto">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-2">

            <ul>
                {% for categorium in categorias %}
                    <li>
                        <a href="#">{{ categorium.nome }} </a></li>
                {% endfor %}
            </ul>
             
        </div>
        
        <div class="col-lg-10">

            <div class="row ">
            {% for produto in produtos %}
                
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">   
                    <div class="card" style="width: 18rem;">
                        {% if produto.foto is defined %}
                            <img src="{{ asset('upload/produto/'~produto.foto.filename) }}" alt="" style="height: 337px; object-fit: cover;" />
                        {% else %}
                            <img src="..." alt=""/>
                        {% endif %}     
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <p class="card-text">{{ produto.descricao }}</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-6">R$ {{ produto.preco }}</div>
                                    <a href="/home/{{ produto.id }}" class="btn btn-warning col-6">comprar</a>
                                </div>
                            </h5>
                        </div>
                    </div>    
                    
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
