{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <img src="{{ asset('banner/BlueShop.png') }}" alt="" >
    </div>

    <h1>Categoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.nome }}</td>
                <td>
                    <a href="{{ path('app_categoria_show', {'id': categorium.id}) }}">Exibir</a>
                    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoria_new') }}">Novo</a>

</div>
{% endblock %}
