{% extends 'base.html.twig' %}

{% block title %}Hello PedidoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container">

    <div class="row">
        <img src="{{ asset('banner/BlueShop.png') }}" alt="" >
    </div>

    <h1>Pedidos index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Total</th>
                <th>Status</th>
                <th></th>                                             
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{pedido.id}}</td>
                <td>{{pedido.usuario.nome}}</td>
                <td>{{pedido.datacriado|date("d/m/Y")}}</td>
                <td>{{pedido.total}}</td>
                <td>{{pedido.Status}}</td>
                <td><a class="btn btn-primary col-12" href="{{ path('app_pedido_show', {'id': pedido.id}) }}">Exibir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
